.label {
  padding: 5px 20px;
  border-radius: 5px;
  height: 110px;

  text-align: left;
  
  font-size: 18px;
  font-family: sans-serif;
}

p {
  padding: 0px 20px;
  line-height: 1.4;
}

#light {
    color: black;
    background-color: #dadfdf;
    border-left: 5px solid #00356B;
  }

#dark {
    color: white;
    background-color: black;
    border-left: 5px solid #8e9393;
  }

#customizable {
    color: white;
    background-color: #00356B;
    border-left: 5px solid #8e9393;
  }
  